@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.card {
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

* {
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f8f4;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* style for navbar */

.top-header {
  background-color: rgba(245, 245, 245, 0.922);
  margin-left: 110px;
  margin-right: 110px;
}

.social-icons a {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-right: 0.2rem;
}

.social-icons a i {
  font-size: 15px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: 1px solid #40534c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.social-icons .bxl-instagram-alt {
  color: #bc3121;
}

.social-icons .bxl-whatsapp {
  color: #00df7a;
}

.social-icons .bxl-facebook {
  color: #0099ff;
}

.social-icons a i:hover {
  background-color: #40534c;
  color: #fff;
}

.btn-contact-info {
  background-color: transparent;
  border: 1px solid #40534c;
  color: #40534c;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  height: 33px;
  display: flex;
  align-items: center;
}

.btn-contact-info:hover {
  background-color: #2a3b2e;
  color: #fff;
}

.bx-icon {
  color: #40534c;
  font-size: 30px;
  text-decoration: none;
}

.bx-icon:hover {
  color: #2a3b2e;
  text-decoration: none;
}

#btn-user {
  display: flex;
  align-items: center;
  height: 40px;
}

.navbar {
  background-color: #40534c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  box-shadow: 0 5px 25px rgb(1 1 1 / 30%);
}
.navbar .navbar-logo {
  /* margin-left: 110px; */
  font-size: 1.6rem;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

.navbar .navbar-logo span {
  color: #bec6a0;
}

.navbar .navbar-menu a {
  color: #fff;
  font-size: 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

.navbar .navbar-menu a:hover {
  color: #bec6a0;
}

.navbar .navbar-menu a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #bec6a0;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-menu a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-icon {
  /* margin-right: 110px; */
}
.navbar .navbar-icon a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-icon a:hover {
  color: #bec6a0;
}

#btn-menu {
  display: none;
}

.btn-login {
  margin-top: 30px;
  background-color: #40534c;
  border: none;
  color: #fff;
  font-size: 10px;
}

.btn-login:hover {
  background-color: #658177;
  color: #fff;
}

/* hero section */

.header {
  background-color: #f8f9fa;
  padding: 60px 0;
  position: relative;
}

.header .img-fluid {
  width: 100%;
  height: auto;
  max-height: 60vh;
  object-fit: cover;
  border-radius: 15px;
}

.content-desctitle {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  position: relative;
}

.fas.fa-arrow-down {
  animation: bounce 2s infinite;
}

.carousel-item img {
  object-fit: cover;
  height: 100%; /* Agar gambar memenuhi seluruh item carousel */
}

#carouselExampleCaptions {
  border-radius: 15px; /* Sesuaikan ukuran radius */
  overflow: hidden; /* Agar gambar tetap berada di dalam area carousel */
}

.caption {
  color: #bec6a0;
  font-weight: 700;
}

.btn-cta {
  background-color: #40534c;
  border: none;
  color: #fff;
  border-radius: 40px;
  height: 40px;
}

.btn-cta:hover {
  background-color: #bec6a0;
}

/* style for login user */
.navbar .user {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 13vh;
  width: 10rem;
  padding: 0 1rem;
  color: #eee;
  background-color: #fff;
  text-align: center;
  border-radius: 5px 5px;
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.5);
  transition: 0.3s;
}

.user li,
a {
  font-size: 15px;
  margin: 5px;
}

.navbar .user.active {
  right: 20px;
}

/* style for about section */

.about {
  padding: 0 0 50px;
  margin-top: 5rem;
  color: black;
}

.judul {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid #bec6a0;
  border-bottom-left-radius: 10px;
}

.judul span {
  color: #bec6a0;
}

.about-img img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .about-img,
  .content {
    text-align: center;
    margin-left: 0;
  }
}

.about .content h3 {
  font-size: 2rem;
}

.about .content p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  line-height: 1.6rem;
}

.btn-about {
  background-color: #40534c;
  border: none;
  color: #fff;
  border-radius: 40px;
}

.btn-about:hover {
  background-color: #bec6a0;
}

/* style for produk */
.produk {
  padding: 0 0 50px;
  margin-top: 50px;
  color: black;
}

.produk .card {
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  margin-top: 1.5rem;
}

.bx-star {
  color: rgb(207, 170, 59);
}

.btn-custom {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #40534c;
  color: white;
  padding: 5px 20px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* .btn-custom span {
  color: #fff;
  text-decoration: none;
} */

.btn-custom:hover {
  background-color: #bec6a0;
  transform: translateX(5px);
}

.btn-custom i {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.btn-custom:hover i {
  transform: translateX(5px);
}

@media (max-width: 768px) {
  .btn-custom {
    font-size: 8px;
    padding: 8px 15px;
    border-radius: 30px;
  }

  .btn-custom i {
    font-size: 8px;
  }
}

/* style for pages produk */
.page-produk {
  margin: 2rem 0;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.5);
}

.header-card {
  background-color: #40534c;
  color: #fff;
  font-weight: 600;
}

.page-produk .nav-pills .nav-item a {
  color: black;
}

.page-produk .nav-pills .nav-item a:hover {
  background-color: #bec6a0;
  border-radius: 10px;
}

#page-top .sidebar .nav-item a {
  color: white;
}

#page-top .sidebar .nav-item a:hover {
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}

.kategori-card .nav-pills .nav-item a {
  color: black;
  text-decoration: none;
}

.kategori-card .nav-pills .nav-item a:hover {
  background-color: #bec6a0;
  border-radius: 10px;
}

/* style for detail produk */

.detail-produk {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-indicators {
  position: unset;
}

.carousel-indicators button.active img {
  border: 1px solid black;
}

.carousel-indicators img {
  width: 70px;
  display: block;
}
.slide {
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.5);
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail a i {
  margin-right: 0.3rem;
}

.btn-loginproduk {
  display: flex;
  align-items: center;
  padding: 5px 5px;
}

/* style for keranjang */
.page-keranjang {
  margin: 2rem 0;
}

/* style for kontak */
.kontak {
  padding: 0 0 50px;
  margin-top: 5rem;
}

.kontak .kontak-map iframe {
  flex: 1 1 45%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kontak-form .btn-kirim {
  background-color: #40534c;
  color: #fff;
  border-radius: 30px;
}

.kontak-form .btn-kirim:hover {
  background-color: #bec6a0;
}

.card-detail {
  background-color: #40534c;
}

/* pagination */
/* .pagination {
  margin-top: 2rem;
}

.pagination .prev a,
.pagination .next a {
  background-color: #40534c;
  color: #fff;
}

.pagination .active {
  background-color: #40534c;
  color: #fff;
}

.pagination a:hover {
  background-color: #bec6a0;
} */
/* pagination */

/* style for footer */
footer {
  margin-top: 150px;
  background-color: #40534c;
}

footer h3 {
  font-size: 25px;
  font-weight: 500;
}

.row-content {
  color: #bec6a0;
}

.row-content .logo-brand {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
}

.row-content span {
  color: #bec6a0;
}

.footer-sosial {
  font-size: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.footer-sosial i {
  color: #bec6a0;
  font-size: 20px;
  margin: 0 10px 0 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: 30px;
  text-align: center;
  vertical-align: bottom;
  background-color: #fff;
}

.footer-sosial i:hover {
  color: #fff;
  background-color: #bec6a0;
}

.navigasi ul li a {
  color: #fff;
  text-decoration: none;
}

.navigasi ul li a:hover {
  color: #bec6a0;
}

.pesanan .card {
  box-shadow: none;
  border: none;
}

/* responsive */
/* dekstop */
@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }
  .navbar .navbar-logo {
    margin-left: 0;
  }
  .navbar .navbar-icon {
    margin-right: 0;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 75%;
  }
  .navbar .navbar-logo {
    margin-left: 0;
  }
  .navbar .navbar-icon {
    margin-right: 0;
  }
  #btn-menu {
    display: inline-block;
  }
  .navbar .navbar-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #f9f8f4;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-menu.active {
    right: 0;
  }
  .navbar .navbar-menu a {
    color: #134b70;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .navbar .navbar-menu a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-menu a:hover::after {
    transform: scaleX(0.2);
  }
  .content-copy-p {
    margin-top: 30px;
  }
  .card-detail-produk {
    margin-top: 10px;
  }
  footer {
    margin-top: 10px;
  }
  .small-box-icon {
    font-size: 8px;
  }
  .small-box {
    margin-bottom: 10px;
  }

  .floating-whatsapp {
    width: 50px;
    height: 50px;
    left: 30px;
  }

  #icon-whatsapp {
    font-size: 2rem;
  }

  .floating-whatsapp-text {
    left: 60px;
    width: 180px;
    font-size: 12px;
  }
}

/* phone */
@media (max-width: 450px) {
  html {
    font-size: 60%;
  }
  .top-header {
    background-color: rgba(245, 245, 245, 0.922);
    margin-left: 0;
    margin-right: 0;
  }
  .navbar .navbar-logo {
    margin-left: 0;
  }
  .navbar .navbar-icon {
    margin-right: 0;
  }
  .kontak-form {
    margin-top: 40px;
  }
  .content-copy-p {
    margin-top: 30px;
  }
  .box-card {
    margin-top: 2rem;
  }
  .card-detail-produk {
    margin-top: 10px;
  }
  .header-card {
    background-color: #40534c;
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 15px;
  }
  .pesanan {
    margin-top: 20px;
  }
  .floating-whatsapp {
    width: 45px;
    height: 45px;
    left: 30px;
  }

  #icon-whatsapp {
    font-size: 1.8rem;
  }

  .floating-whatsapp-text {
    left: 55px;
    width: 160px;
    font-size: 11px;
  }
}

.small-box-icon {
  color: #fff;
  width: 3rem;
  height: 3rem;
}

.small-box h3,
.small-box p {
  color: #fff;
}

.small-box-footer {
  padding: 10px 10px 10px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 0.9rem;
}

/* icon whatsapp */
.floating-whatsapp {
  position: fixed;
  bottom: 30px;
  left: 40px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

#icon-whatsapp {
  margin-top: 9px;
  font-size: 2.6rem;
}

.floating-whatsapp-text {
  position: absolute;
  top: 50%;
  left: 60px;
  width: 200px;
  transform: translateY(-50%);
  background-color: #ffff;
  font-size: 13px;
  color: black;
  padding: 1px 8px;
  border-radius: 10px;
  text-align: left;
  /* white-space: pre-wrap; */
}
